In [18]:
%matplotlib inline

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import datetime as dt
from config import db_password
import sqlite3

In [19]:
#df = pd.read_csv("Resources//sf_airbnb_listings_modified.csv")
# Change the path to use a different one
file_path = Path("./resources/listings_cleaned2.csv")
df = pd.read_csv(file_path,low_memory=False)
df.head()

,id,host_since,host_response_time,host_response_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,zipcode,...,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,host_days_active,time_since_first_review,time_since_last_review
0,958,7/31/08,within a few hours,100%,1,1,1,1,Western Addition,94115,...,9.0,1,1,1,0,0,1.60,3958,4+ years,17
1,7918,6/17/09,within a few hours,100%,0,10,10,1,Haight Ashbury,94117,...,8.0,0,9,0,9,0,0.14,3637,4+ years,923
2,8142,6/17/09,within a few hours,100%,0,10,10,1,Haight Ashbury,94117,...,9.0,0,9,0,9,0,0.14,3637,4+ years,263
3,8339,7/2/09,within an hour,100%,0,2,2,1,Western Addition,94115,...,9.0,0,2,2,0,0,0.23,3622,4+ years,295
4,8739,1/27/09,within an hour,100%,1,2,2,0,Mission,94110,...,10.0,1,2,0,2,0,5.61,3778,4+ years,12

In [20]:
# read in landmass by zipcode csv

file_path = "./resources/sfziplandmass.csv"
masszip = pd.read_csv(file_path)
masszip.head()

   zip_code land_area_sqmeters  land_area_sqmiles  land_area_sqkilometers
0     94102          1,737,490                  1                       2
1     94103          3,512,160                  1                       4
2     94104            200,977                  0                       0
3     94105            956,710                  0                       1
4     94107          4,640,750                  2                       5

In [21]:
#python to PGadmin Connection
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/sf_abnb"
engine = create_engine(db_string)
conn = sqlite3.connect('sf_abnb')

In [37]:
#push dataframe to SQL database replaces tables, if_exists we need to append then change replace to append

df.to_sql(name='listings', con=engine, if_exists='replace', index=True,)
masszip.to_sql(name='sfmasszip', con=engine, if_exists='replace',index=False,)

In [25]:
#pull from SQL database
    
df1 = pd.read_sql_query("SELECT * FROM listings LEFT JOIN sfmasszip ON listings.zipcode = sfmasszip.zip_code;", 
                        con=engine)   
df1.head()

,index,id,host_since,host_response_time,host_response_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,...,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,host_days_active,time_since_first_review,time_since_last_review,zip_code,land_area_sqmeters,land_area_sqmiles,land_area_sqkilometers
0,644,1684346,2013-05-12,with in a day,unknown,1,68,68,0,Downtown/Civic Center,...,29,0,0.66,2212,4+ years,941,94102,"1,737,490",1,2
1,7309,20817603,2014-10-08,within a day,90-99%,1,80,80,1,Downtown/Civic Center,...,0,0,0.08,1698,1-2 years,109,94102,"1,737,490",1,2
2,7393,21413104,2012-12-17,within a few hours,90-99%,1,92,92,1,Downtown/Civic Center,...,1,0,0.05,2358,6-12 months,-155,94102,"1,737,490",1,2
3,793,2279254,2014-01-25,within an hour,100%,1,9,9,1,Downtown/Civic Center,...,5,0,0.20,1954,4+ years,247,94102,"1,737,490",1,2
4,2008,10550345,2010-08-28,within an hour,100%,0,1,1,1,Downtown/Civic Center,...,0,0,0.62,3200,1-2 years,71,94102,"1,737,490",1,2

In [26]:
df1.drop(columns='index',inplace=True)
df1.head()

,id,host_since,host_response_time,host_response_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,zipcode,...,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,host_days_active,time_since_first_review,time_since_last_review,zip_code,land_area_sqmeters,land_area_sqmiles,land_area_sqkilometers
0,1684346,2013-05-12,with in a day,unknown,1,68,68,0,Downtown/Civic Center,94102,...,29,0,0.66,2212,4+ years,941,94102,"1,737,490",1,2
1,20817603,2014-10-08,within a day,90-99%,1,80,80,1,Downtown/Civic Center,94102,...,0,0,0.08,1698,1-2 years,109,94102,"1,737,490",1,2
2,21413104,2012-12-17,within a few hours,90-99%,1,92,92,1,Downtown/Civic Center,94102,...,1,0,0.05,2358,6-12 months,-155,94102,"1,737,490",1,2
3,2279254,2014-01-25,within an hour,100%,1,9,9,1,Downtown/Civic Center,94102,...,5,0,0.20,1954,4+ years,247,94102,"1,737,490",1,2
4,10550345,2010-08-28,within an hour,100%,0,1,1,1,Downtown/Civic Center,94102,...,0,0,0.62,3200,1-2 years,71,94102,"1,737,490",1,2

In [27]:
df1.columns.tolist()

['id',
 'host_since',
 'host_response_time',
 'host_response_rate',
 'host_is_superhost',
 'host_listings_count',
 'host_total_listings_count',
 'host_identity_verified',
 'neighbourhood_cleansed',
 'zipcode',
 'latitude',
 'longitude',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'price',
 'minimum_nights',
 'maximum_nights',
 'calendar_updated',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'first_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'instant_bookable',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month',
 'host_days_active',
 'time_since_first_review',
 'time_since_last_review',
 'zip_code',
 'land_area_sqmeters',
 'land_area_sqmiles',
 'land_area_sqkilometers']

In [28]:
df1= pd.read_sql_query("SELECT host_response_rate FROM listings", con=engine)
df1.head()

  host_response_rate
0               100%
1               100%
2               100%
3               100%
4               100%

In [29]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2 = df.copy()
cols = ['host_since']
df2[cols] = df2[cols].apply(LabelEncoder().fit_transform)
df2.head()

,id,host_since,host_response_time,host_response_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,zipcode,...,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,host_days_active,time_since_first_review,time_since_last_review
0,958,1992,within a few hours,100%,1,1,1,1,Western Addition,94115,...,9.0,1,1,1,0,0,1.60,3958,4+ years,17
1,7918,1645,within a few hours,100%,0,10,10,1,Haight Ashbury,94117,...,8.0,0,9,0,9,0,0.14,3637,4+ years,923
2,8142,1645,within a few hours,100%,0,10,10,1,Haight Ashbury,94117,...,9.0,0,9,0,9,0,0.14,3637,4+ years,263
3,8339,1898,within an hour,100%,0,2,2,1,Western Addition,94115,...,9.0,0,2,2,0,0,0.23,3622,4+ years,295
4,8739,118,within an hour,100%,1,2,2,0,Mission,94110,...,10.0,1,2,0,2,0,5.61,3778,4+ years,12

In [30]:
df_encoded = pd.get_dummies(df, columns=["host_response_time", "neighbourhood_cleansed"])
df_encoded.head()

,id,host_since,host_response_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,zipcode,latitude,longitude,...,neighbourhood_cleansed_Potrero Hill,neighbourhood_cleansed_Presidio,neighbourhood_cleansed_Presidio Heights,neighbourhood_cleansed_Russian Hill,neighbourhood_cleansed_Seacliff,neighbourhood_cleansed_South of Market,neighbourhood_cleansed_Twin Peaks,neighbourhood_cleansed_Visitacion Valley,neighbourhood_cleansed_West of Twin Peaks,neighbourhood_cleansed_Western Addition
0,958,7/31/08,100%,1,1,1,1,94115,37.76931,-122.43386,...,0,0,0,0,0,0,0,0,0,1
1,7918,6/17/09,100%,0,10,10,1,94117,37.76669,-122.45250,...,0,0,0,0,0,0,0,0,0,0
2,8142,6/17/09,100%,0,10,10,1,94117,37.76487,-122.45183,...,0,0,0,0,0,0,0,0,0,0
3,8339,7/2/09,100%,0,2,2,1,94115,37.77525,-122.43637,...,0,0,0,0,0,0,0,0,0,1
4,8739,1/27/09,100%,1,2,2,0,94110,37.75919,-122.42237,...,0,0,0,0,0,0,0,0,0,0

In [31]:
df_encoded.describe()

,id,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,zipcode,latitude,longitude,accommodates,bathrooms,...,neighbourhood_cleansed_Potrero Hill,neighbourhood_cleansed_Presidio,neighbourhood_cleansed_Presidio Heights,neighbourhood_cleansed_Russian Hill,neighbourhood_cleansed_Seacliff,neighbourhood_cleansed_South of Market,neighbourhood_cleansed_Twin Peaks,neighbourhood_cleansed_Visitacion Valley,neighbourhood_cleansed_West of Twin Peaks,neighbourhood_cleansed_Western Addition
count,1.015200e+04,10152.000000,10152.000000,10152.000000,10152.000000,10152.000000,10152.000000,10152.000000,10152.000000,10152.000000,...,10152.000000,10152.000000,10152.000000,10152.000000,10152.000000,10152.000000,10152.000000,10152.000000,10152.000000,10152.000000
mean,1.955960e+07,0.508668,35.740248,35.740248,0.746060,94113.877561,37.764742,-58.821580,3.222321,1.355595,...,0.030142,0.000985,0.003349,0.021868,0.002660,0.058314,0.009062,0.009752,0.017730,0.071217
std,1.440158e+07,0.499949,185.968714,185.968714,0.435285,8.417610,0.022090,78.387173,1.916934,0.856190,...,0.170986,0.031371,0.057777,0.146258,0.051505,0.234347,0.094768,0.098273,0.131977,0.257200
min,9.580000e+02,0.000000,0.000000,0.000000,0.000000,94102.000000,37.704170,-122.513060,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.764302e+06,0.000000,1.000000,1.000000,0.000000,94109.000000,37.749885,-122.431370,2.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.849275e+07,1.000000,2.000000,2.000000,1.000000,94112.000000,37.764310,-122.407840,2.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.964328e+07,1.000000,5.000000,5.000000,1.000000,94117.000000,37.781800,37.760485,4.000000,1.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,5.298956e+07,1.000000,1987.000000,1987.000000,1.000000,94134.000000,37.810310,37.809540,16.000000,14.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [32]:
y = df["price"]
X = df.drop(columns="price")

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [34]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

LogisticRegression(random_state=1)

In [35]:
LogisticRegression(random_state=1, solver='lbfgs')

LogisticRegression(random_state=1)

In [36]:
classifier.fit(X_train, y_train)

ValueError: could not convert string to float: '12/6/11'