In [17]:
%matplotlib inline

# import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import hvplot.pandas
from pathlib import Path
import plotly.express as px
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import datetime as dt
from config import db_password
import sqlite3

In [18]:
file_path = "./resources/listings_cleaned2.csv"
df = pd.read_csv(file_path,index_col=0)
df.head()

,host_since,host_response_time,host_response_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_identity_verified,neighbourhood_cleansed,property_type,room_type,...,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,host_days_active,time_since_first_review,time_since_last_review
id,,,,,,,,,,,,,,,,,,,,,
958,7/31/2008,within a few hours,100%,1,1,1,1,Western Addition,Apartment,Entire home/apt,...,9.0,1,1,1,0,0,1.60,3958,4+ years,17
7918,6/17/2009,within a few hours,100%,0,10,10,1,Haight Ashbury,Apartment,Private room,...,8.0,0,9,0,9,0,0.14,3637,4+ years,923
8142,6/17/2009,within a few hours,100%,0,10,10,1,Haight Ashbury,Apartment,Private room,...,9.0,0,9,0,9,0,0.14,3637,4+ years,263
8339,7/2/2009,within an hour,100%,0,2,2,1,Western Addition,House,Entire home/apt,...,9.0,0,2,2,0,0,0.23,3622,4+ years,295
8739,1/27/2009,within an hour,100%,1,2,2,0,Mission,Other,Private room,...,10.0,1,2,0,2,0,5.61,3778,4+ years,12

In [56]:
#checking dataframe

#df.isna().sum()
df.columns.values.tolist()
#print(df['zipcode'].value_counts())
#print(df['zipcode'].nunique())

['host_since',
 'host_response_time',
 'host_response_rate',
 'host_is_superhost',
 'host_listings_count',
 'host_total_listings_count',
 'host_identity_verified',
 'neighbourhood_cleansed',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'price',
 'minimum_nights',
 'maximum_nights',
 'calendar_updated',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'first_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'instant_bookable',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month',
 'host_days_active',
 'time_since_first_review',
 'time_since_last_review']

In [20]:
# read in landmass by zipcode csv

file_path = "./resources/sfziplandmass.csv"
masszip = pd.read_csv(file_path)
masszip.head(10)

   zip_code land_area_sqmeters  land_area_sqmiles  land_area_sqkilometers
0     94102          1,737,490                  1                       2
1     94103          3,512,160                  1                       4
2     94104            200,977                  0                       0
3     94105            956,710                  0                       1
4     94107          4,640,750                  2                       5
5     94108            699,434                  0                       1
6     94109          3,076,630                  1                       3
7     94110          6,022,590                  2                       6
8     94111            891,185                  0                       1
9     94112          8,712,510                  3                       9

In [21]:
#masszip.columns.values.tolist()
#masszip.nunique()
#print(masszip['ZIP Code'].value_counts().sum())

# Below code is connecting to PGadmin database/tables

In [31]:
#python to PGadmin Connection
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/sf_abnb"
engine = create_engine(db_string)

In [53]:
#once table is created mark out"#
#push dataframe to SQL database

#df.to_sql(name='listings', con=engine, if_exists='replace')
masszip.to_sql(name='sfmasszip', con=engine, if_exists='replace')

# below pull data into python from SQL pgADMIN- new Dataframe
# update below SQL to do the join to sfmasszip table

In [55]:
conn = sqlite3.connect('sf_abnb')
#pull from SQL database
#df1 = pd.read_sql_query("SELECT * FROM listings", 
                        #con=engine)
    
df1 = pd.read_sql_query("SELECT listings.id,listings.zipcode, listings.neighbourhood_cleansed, sfmasszip.land_area_sqmeters FROM listings LEFT JOIN sfmasszip ON listings.zipcode = sfmasszip.zip_code;", 
                        con=engine)
    
df1.head(50)

       id zipcode neighbourhood_cleansed land_area_sqmeters
0     958   94117       Western Addition          4,370,660
1    7918   94117         Haight Ashbury          4,370,660
2    8142   94117         Haight Ashbury          4,370,660
3    8339   94117       Western Addition          4,370,660
4    8739   94110                Mission          6,022,590
5    9225   94107           Potrero Hill          4,640,750
6   10820   94117         Haight Ashbury          4,370,660
7   10824   94102       Western Addition          1,737,490
8   10832   94102  Downtown/Civic Center          1,737,490
9   12041   94117         Haight Ashbury          4,370,660
10  12042   94117         Haight Ashbury          4,370,660
11  12522   94114    Castro/Upper Market          3,691,500
12  12584   94117           Inner Sunset          4,370,660
13  14125   94110                Mission          6,022,590
14  17132   94105        South of Market            956,710
15  18904   94117       Western Addition          4,370,660
16  21334   94133               Nob Hill          1,955,570
17  21914   94117         Haight Ashbury          4,370,660
18  23611   94110         Bernal Heights          6,022,590
19  23630   94114    Castro/Upper Market          3,691,500
20  24450   94114             Noe Valley          3,691,500
21  24463   94107           Potrero Hill          4,640,750
22  24723   94115       Western Addition          2,889,750
23  25094   94131             Noe Valley          5,386,050
24  25463   94117       Western Addition          4,370,660
25  25662   94107           Potrero Hill          4,640,750
26  25927   94115       Western Addition          2,889,750
27  26408   94117       Western Addition          4,370,660
28  27025   94114    Castro/Upper Market          3,691,500
29  27028   94110                Mission          6,022,590
30  29373   94110         Bernal Heights          6,022,590
31  29557   94121         Outer Richmond          7,981,770
32  32414   94110         Bernal Heights          6,022,590
33  39174   94110             Noe Valley          6,022,590
34  39418   94110         Bernal Heights          6,022,590
35  40138   94118       Presidio Heights          5,047,350
36  41055   94114    Castro/Upper Market          3,691,500
37  41172   94110         Bernal Heights          6,022,590
38  41609   94109               Nob Hill          3,076,630
39  42403   94110         Bernal Heights          6,022,590
40  42408   94110         Bernal Heights          6,022,590
41  42577   94107           Potrero Hill          4,640,750
42  43778   94117         Haight Ashbury          4,370,660
43  45299   94114    Castro/Upper Market          3,691,500
44  45956   94117       Western Addition          4,370,660
45  47486   94127             Ocean View          4,585,460
46  48471   94110                Mission          6,022,590
47  51073   94103        South of Market          3,512,160
48  51557   94117       Western Addition          4,370,660
49  52713   94133               Nob Hill          1,955,570

In [11]:
# testing how to push/ and update SQL database, 

#df1.to_sql('listings', engine, if_exists='append', chunksize=1000)